<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Contributions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_contributions}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Near Earth Asteroids</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{category}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Main Belt</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{main_belt}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>